table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 0 2rem;
}

.tableProducts {
    display: flex;
    justify-content: center;
}

.tableProducts th {
    background-color: rgb(24, 108, 182);
    color: #FFF;
}

.tableProducts .Even {
    background-color: #ddd;
}

.tableProducts .Odd {
    background-color: #CCC;
}